* {
	margin: 0;
	padding: 0;
}
:root {
	--btn: rgb(157, 207, 39);
	--btncolor: rgb(255, 255, 255);
	--btnborder: red;
	--bg: rgba(240, 178, 8, 0.795);
}
body {
	display: grid;
	place-items: center;

	width: 100%;

	margin-top: 100px;
	background-color: aquamarine;
}
.katta {
	display: grid;
	place-items: center;
	width: 80vh;
	/* height: 50vh; */
	padding: 15px;
	gap: 20px;
	border-radius: 10px;
	background-color: var(--bg);
}
button {
	padding: 15px 25px;
	border: none;
	color: var(--btncolor);
	border: 2px solid var(--btnborder);
	border-radius: 10px;
	background-color: var(--btn);
	font-size: 20px;
	width: 150px;
}
.contener {
	display: flex;
}
.span {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
